# Prerequisites

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app

## Include .dll files in packages folder

# User-specific files

!*.dll

# Re-instate the build folder that is excluded in the default .gitignore

# This folder is used by Microsoft.Bcl.Build.* package

!build/
